/* Overal Styling  */
/* html {
  margin: 0 auto;
  max-width: 1150px;
} */

/* body {
  margin: 0 auto;
  max-width: 1150px;
} */

h3 {
  font-size: 1.8rem;
  margin: 20px auto;
}

h4 {
  font-size: 1.6rem;
  margin: 10px auto;
}

/*NAV BAR*/
.navbar-container {
  justify-content: center;
  background-color: #413f54;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  color: white;
}

/* PROFILE SECTION*/

/* MAIN IMAGE*/

.welcome-page {
  margin-top: 50px;
  background-image: url(../images/BulbImage.jpg);
  background-size: cover;
  background-position: center;
  width: 100wh;
  height: 100vh;
  display: flex;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 500px;
  text-align: center;
}

#name,
#tagline {
  font-size: 1.5rem;
}

/* PROFILE SECTION*/

.profile {
  width: 60%;
  padding: 10% 8%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 100px;
  background-color: #9fd7f2;
  border-radius: 2%;
  box-shadow: 2px 2px rgba(5, 28, 39, 0.3);
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.social-media-icons {
  width: 80%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.profile a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

/*SUBMIT FORM*/

.contact-us {
  background-image: url(../submitFormBackground.png);
  height: 95vh;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-container {
  width: 80%;
  /* background-color: blue; */
  margin-left: 10%;
  display: block;
  padding-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}

label {
  padding: 20px 0 5px;
}

input {
  font-family: inherit;
  font-size: 100%;
  padding: 2%;
  border: 1px solid #413f54;
}

textarea {
  height: 150px;
  text-align: inherit;
  font-size: 100%;
  padding: 2%;
  border: 1px solid #413f54;
}

button {
  margin: 25px 0 30px 70%;
  width: 30%;
  padding: 4%;
  border: 1px solid #413f54;
}

/* FOOTER */

#footer {
  background-color: #413f54;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .profile-container {
    display: grid;
    grid-template: 100vh 100vh / 50% 50%;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 10%;
  }

  .contact-us {
    background-position: center;
    grid-template: 50% 50% / 50% 50%;
  }

  .profile {
    padding: 5% 5%;
    width: 70%;
    height: 80vh;
    margin-bottom: 5%;
  }

  .profile h3,
  h4,
  p {
    font-size: 1em;
  }

  .profile img {
    width: 50%;
  }

  .contact-us-container {
    width: 50%;
    /* background-color: blue; */
    margin-left: 43%;
    display: block;
    padding-top: 5%;
  }

  .contact-us {
    background-position: center;
  }
}
