html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h2,
h3,
h4 {
  font-family: "Hind Siliguri", sans-serif;
  margin: 10% auto 5% auto;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin: 20px auto;
}

h4 {
  font-size: 1.8rem;
  margin: 10px auto;
}

p {
  font-size: 1rem;
  text-align: center;
}

p,
input,
label,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

.navbar li {
  font-family: "Roboto", sans-serif;
}

/*NAV BAR*/
.navbar-container {
  justify-content: center;
  background-color: #413f54;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  /* background-color: #fec500; */
  padding: 5% 30% 10% 30%;
}

.navbar a:hover {
  color: #fec500;
}

/* MAIN IMAGE*/

.welcome-page {
  margin-top: 50px;
  background: url(../images/BulbImage.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

#name {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 10rem;
  text-align: right;
  color: white;
  margin-left: 30%;
  margin-top: 30%;
  margin-right: 5%;
}

#tagline {
  text-align: right;
  position: absolute;
  font-size: 1.5rem;
  color: #413f54;
  line-height: 1.5rem;
  margin-left: 20%;
  margin-top: 100%;
  margin-right: 10%;
}

/*about us section*/

.about-us-text {
  font-size: 1.5rem;
  margin: 3rem 12rem;
}

/*MEDIA QUERY FOR DESKTOP*/

@media only screen and (max-width: 800px) {
  .about-us-text {
    margin: 5% 10%;
  }
}

/* PROFILE SECTION*/

.profile {
  width: 60%;
  padding: 10% 8%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 100px;
  background-color: #9fd7f2;
  border-radius: 2%;
  box-shadow: 2px 2px rgba(5, 28, 39, 0.3);
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.social-media-icons {
  width: 80%;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.profile a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.profile h3,
.profile h4 {
  text-align: center;
}

/*SUBMIT FORM*/

.contact-us {
  background-image: url(../submitFormBackground.png);
  height: 95vh;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-container {
  width: 80%;
  margin-left: 10%;
  display: block;
  padding-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}

label {
  padding: 20px 0 5px;
}

input,
textarea,
button {
  outline: none !important;
}

input {
  font-size: 1rem;
  padding: 2%;
  border: 1px solid #413f54;
}

textarea {
  height: 150px;
  text-align: inherit;
  font-size: 1rem;
  padding: 2%;
  border: 1px solid #413f54;
}

button {
  margin: 25px 0 30px 70%;
  width: 30%;
  padding: 2% 4%;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #9fd7f2;
  border-radius: 4px;
}

button:hover {
  background-color: #413f54;
  color: white;
  cursor: pointer;
}

/* FOOTER */

#footer {
  background-color: #413f54;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 0;
}

@media only screen and (min-width: 650px) {
  p {
    text-align: center;
  }

  h2,
  h3,
  h4 {
    text-align: left;
  }

  .about-us h2,
  .our-team h2 {
    padding-left: 10%;
  }

  .navbar a {
    padding: 5% 50% 10% 50%;
  }

  #name {
    position: absolute;
    font-size: 15rem;
    text-align: right;
    color: white;
    margin-left: 55%;
    margin-top: 1%;
    margin-right: 5%;
  }

  #tagline {
    text-align: right;
    position: absolute;
    font-size: 2rem;
    color: #413f54;
    line-height: 1;
    margin-left: 40%;
    margin-top: 35%;
    margin-right: 5%;
  }

  .profile-container {
    display: grid;
    grid-template: 100vh 100vh / 50% 50%;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 10%;
  }

  .contact-us {
    background-position: center;
    grid-template: 50% 50% / 50% 50%;
  }

  .profile {
    padding: 5% 5%;
    width: 70%;
    height: 80vh;
    margin-bottom: 5%;
  }

  .profile img {
    width: 50%;
  }

  .contact-us-container {
    width: 50%;
    margin-left: 43%;
    display: block;
    padding-top: 5%;
  }

  .contact-us {
    background-position: center;
  }
}
