/*NAV BAR*/
.navbar-container {
  justify-content: center;
  background-color: #413f54;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  color: white;
}
  /* PROFILE SECTION*/
.profile {
  width: 60%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.social-media-icons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.profile a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 650px) {
  .profile-container {
    display: grid;
    grid-template: 80vh 80vh / 50% 50%;
}
    .contact-us  {
      background-position: center;
  }

  .profile {
    padding: 0;
    width: 70%;
  }

  .profile img {
    width: 50%;
  }

}


/*SUBMIT FORM*/

.contact-us {
  background-image: url(../submitFormBackground.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-container {
  width: 50%;
  background-color: blue;
  margin-left: 43%;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  padding: 9% 13%;
}

label {
  padding: 20px 0 10px;
}

input {
  padding: 15px;
}

textarea {
  height: 100px;
  text-align: inherit;
}

button {
  margin: 30px auto;
  width: 20%;
}
